%tr#content_is_first
  %td
  %td
    = rs_link_to = rs_link_to 'Text einf端gen',    |
      { :controller => 'contents', :action => :new_ajax_content, :insert_after => 'is_first',   |
      'content[paper_id]' => paper_id, 'content[kind]' => :text},                                |
      :title => 'Text einf端gen',  :class => 'icon_link insert_line'                              |
    -#
    = rs_link_to 'RBlock einf端gen',    |
      { :controller => 'contents', :action => :new_ajax_content, :insert_after => 'is_first' , |
      'content[paper_id]' => paper_id, 'content[kind]' => :rblock},                             |
      :title => 'Rblock einf端gen',  :class => 'icon_link insert_line'                           |
