.bundle
Gemfile.lock
.swp
*.swp
*~
\#*\#
.\#*
db/*.sqlite3
db/sphinx/**/*
db/sphinx/*
log/*
tmp/**/*
.sass-cache
db/schema.rb
public/mail_attachments/**/*
public/mail_attachments
public/old_documents/**/*
public/old_documents
public/accidentally_deleted/**/*
public/accidentally_deleted
public/assets
public/assets/**/*
public/external_papers/*
public/external_papers
public/filed_papers/*
public/filed_papers
public/external/*
public/external
public/emergency/log/*
public/images
public/pdf_resources
public/uploads/*
public/uploads
config/elph_conf.yml
config/elph_conf_*.yml
config/database.yml
config/mailer_credentials.rb
.ruby_version
