= link_to att.document.doc_name, att.document.file_url, :class => :email_attachment, :target => '_pdf_'  if att.document
= "Angehängtes Dokument wurde anscheinend gelöscht! document" unless att.document
