/*    */

$lightest_grey: #eee;
$light_grey: #d8d8d8;
$medium_grey: #bbb;
$medium_dark_grey: #aaa;
$darker_grey: #999;
$dark_grey: #999;
$grey_border: #ccc;
$highlighted_border: #b99;

/* ÄÖÜ for sass considering imported as utf-8   */
@import 'application';
