/*    */

$lightest_grey: #fafafa;
$light_grey: #eee;
$medium_grey: #ddd;
$medium_dark_grey: #ccc;
$darker_grey: #aaa;
$dark_grey: #999;
$grey_border: #d0d0d0;
$highlighted_border: #dbb;

/* ÄÖÜ for sass considering imported as utf-8   */
@import 'application';
