%td{:style => "color:red;text-align:center;", :colspan => ( defined?(cols) && cols || '1')}
  / partial app/views/common/_deleted.haml
  Item deleted
  = "<!--#{controller.controller_name}-->".html_safe
